@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #71b097;
  --white: #ffffff;
}
.homeContainer {
  background-image: url("/imgs/bg.svg");
  background-repeat: none;
  background-size: cover;
}
.userType {
  background-color: var(--green);
  border-radius: 8px;
}
.Container {
  background-color: rgba(113, 171, 156, 0.35);
}
.backButton{
  border-radius: 50%;
  background-color: var(--green);
}
.MapContainer{
  background-image: url('/imgs/map.png');
  background-size: cover;
  background-repeat: none;
  height: 400px;
}
.locationIcon{
  animation-name: locationAnim;
  animation-delay: 4s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(20,5,5,5);
}

@keyframes locationAnim {
  0%{
    top:7% ;  
    left: 33.33% ;
  }
  15%{
    top:7% ;  
    left: 33.33% ;  
  }
  20%{
    top:50% ;  
    left: 33.33% ;  
  }
  35%{
    top:50% ;  
    left: 33.33% ; 
  }
  40%{
    top:4% ;  
    left: 3.33% ;  
  }
  55%{
    top:4% ;  
    left: 3.33% ;  
  }
  60%{
    top:5% ;  
    left: 50% ;  
  }
  75%{
    top:5% ;  
    left: 50% ;  
  }
  80%{
    top:30% ;  
    left: 80% ;  
  }
  95%{
    top:30% ;  
    left: 80% ;  
  }
  100%{
    top:7% ;  
    left: 33.33% ;    
  }
}
.loc1{
  top:28% ;  
    left: 37.33% ;  
}
.loc2{
  top:71% ;  
  left: 37.33% ;   
}
.loc3{
  top:26% ;  
    left: 7.33% ;   
}
.loc4{
  top:26% ;  
  left: 54% ; 
}
.loc5{
  top:52% ;  
  left: 84% ; 
}
.infocontainer{
  background : rgba(113, 171, 156, 0.6); 
}
.infotitle{
  font-size: 40px;
}
.ContainerG {
  background-color: #006233;
}

.swiper-button-next,
.swiper-button-prev {
  color: #006233 !important;
}
.bottomb{
  background: rgb(38,132,95);
  background: linear-gradient(3deg, rgba(38,132,95,0.9) 0%, rgba(255,215,0,0) 100%);
}
