@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #71B097;
  --white: #ffffff;
}
.homeContainer{
  background-image: url('/imgs/bg.svg');
  background-repeat: none;
  background-size: cover;
}
.userType{
  background-color: var(--green);
  border-radius: 8px;
}
.Container{

  background-color: rgba(113 , 171 , 156 , 0.7) ; 
}